/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.htaccess
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
ski-medved-1546097740076-firebase-adminsdk-1r6wt-8f7b8534f4.json